@model AreaViewModel


<h1>Área</h1>

<hr />

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Nueva Área</h5>
            </div>

            <div class="card-body">
                <form asp-controller="Area" asp-action="GuardarArea" method="post">
                    <div class="mb-3">
                        <label class="form-label">Area</label>
                        <input asp-for="nombre" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
