@model List<SistemaContratos.Models.AreaViewModel>

<h1>Areas</h1>

<div class="mb-3">
    <a class="btn btn-primary" asp-area="" asp-controller="Area" asp-action="AltaArea">Nueva Área</a>
</div>

<div class="mb-3">
    <ul>
        @foreach (var area in Model)
        {
            <li>@area.nombre</li>
        }
    </ul>
    
</div>


